name: Lean Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Lean
        uses: leanprover/elan-action@v1
        with:
          version: 4.24.0-rc1

      - name: Build Key Files
        run: |
          lake exe build Measurements.lean
          lake exe build Relations.lean
          lake exe build Structures.lean
